extends ../layout

block content
    .reg-box
        .header
            h2 Registarse
        form(action="/auth_reg", method="post")
            .form-group
                label(for="usuario") usuario
                input(type="text" name="usuario" class="form-control")
            .form-group
                label(for="nombre") nombre
                input(type="text" name="nombre" class="form-control")
            .form-group
                label(for="clave") clave
                input(type="password" name="clave" class="form-control")
            
            
            button(type="submit" class="btn btn-primary") Submit