extends ../layout

block content
    .login-box
        .header
            h2 Inicio Sesion Root
        form(action="/auth_rootlogin", method="post")
            .form-group
                label(for="usuario") usuario
                input(type="text" name="usuario" class="form-control shadow-none")
            .form-group
                label(for="contrasena") contrasena
                input(type="contrasena" name="contrasena" class="form-control")
            button(type="submit" class="btn btn-primary") Iniciar Sesion